<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>How to take care of a cat</title>
    <link rel="stylesheet" type="text/css" href="website_outline.css"> 
</head>
<body>

  <%- include('../views/partials/header.ejs') %>
    <div class="container">
      <div class="side-menu">
        <nav>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/findpet">Find a dog/cat</a></li>
            <li><a href="/dogcare">Dog Care</a></li>
            <li><a href="/catcare">Cat Care</a></li>
            <li><a href="/createaccount">Create account</a></li>
            <li><a href="/giveawayapet">Giveaway A Pet</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/contactus">Contact Us</a></li>
          </ul>
        </nav>
      </div>

        <div class="content">
            <h1>Groom your cat regularly</h1>
            <p>You might be thinking, “but don't cats groom themselves?” While cats are known for their cleanliness, some extra help 
              from you can take their health and hygiene to the next level! Short-haired, medium-haired and long-haired cats 
              can all benefit from regular brushing. This helps remove loose hair from the coat, preventing shedding and hairballs.
               In addition to practical benefits, regular grooming can be a wonderful way to bond with your cat!</p>
            <h1>Provide fresh water 24/7</h1>
               <p>Just as it is for us, drinking enough water is essential for our cats' health. Proper hydration can keep your cat 
                comfortable and happy by helping to prevent common cat health issues like urinary tract infections and kidney disease. 
                Many cats are picky about the water they drink. If you've ever caught your cat sipping from the sink or pawing at her water 
                bowl, chances are she prefers moving water. This is a common and natural preference among cats! You can give your cat the fresh,
                 flowing water she prefers and encourage her to drink, boosting her hydration, with a pet fountain.</p>
            <h1>Make sure your cat always has a place to potty</h1>
              <p>Should you have more than one litter box? Maybe! A general rule of thumb is to provide one for each cat in your home, plus one more.
                 So, ideally, if you have two cats, you should have three litter boxes. This way, there's always an alternative available in case your 
                 cat doesn't feel like using her usual box for some reason. Speaking of which, be mindful of where you place a litter box. Make 
                 sure it's somewhere that your cat can always access, and where she'll feel comfortable letting her guard down when nature calls.</p>
            <h1>Keep the litter box clean</h1>
            <p>No one likes a dirty restroom. Many cats will find another place to go (like the carpet... or your pillow) if their
               litter box hasn't been cleaned in a while. With a traditional litter box, you should try to scoop at least once daily 
               and clean the entire box at least once a week. If you're not a fan of scooping poop (who is?), a self-cleaning litter 
               box is a life-changer, saving you from the stinky chore while giving your cat the consistently clean litter box she deserves.
                If you do notice your cat is suddenly going outside the litter box, especially when it's clean, check with your vet – 
                this can sometimes be a sign of medical issues.</p>
            <h1>Train your cat to use a scratching post</h1>
              <p>Scratching is a natural, healthy and important behavior for cats. Unfortunately, in our homes
                 this healthy behavior can come at a cost to our décor. Regular scratching on an appropriate surface
                  such as carpet, sisal, or cardboard helps remove the old layers from your cat's claws. Not only will
                   this help prevent damage to your furniture, it will help your cat stretch her muscles and keep her claws
                    in top condition. While it may take some time to introduce your cat to a scratching post or board, 
                    it's well worth the effort. Your cat (and your couch) will thank you!</p>
            <h1>Use a cat carrier in the car</h1>
            <p>Does your cat need to visit the vet? Or are you bringing her along on vacation? Always transport your 
              cat in an appropriate carrier designed for pets. Allowing your cat to roam freely in the car can distract 
              you from driving safely, which can lead to accidents that may harm both you and your cat.</p>
            <h1>Maintain a healthy diet and weight</h1>
            <p>Just like humans, dogs, and many other animals, cats can experience health issues if they become overweight. 
              And just like us, the keys to a healthy weight are diet and exercise. To maintain a healthy diet, talk to your 
              vet about which food is best for your cat. If your vet recommends a dry food (kibble) diet, consider an automatic
               pet feeder to help maintain a consistent routine and portion control. And when it comes to exercise, cat toys are
                a fun way to keep your cat's mind and body active. By engaging your cat's natural predator instincts, many cat 
                toys make your cat's inner tiger happy while also keeping her slim and trim.</p>
            <h1>Consider spaying or neutering your cat</h1>
            <p>Reproductive diseases can be serious, and affect both male and female cats. Spaying prevents uterine 
              infections and ovarian cancers, and reduces the risk of mammary tumors in female cats, while neutering 
              prevents testicular cancer and some prostate problems in males. Neutering also reduces a male cat's urge
               to roam, reducing the risk of getting lost or injured away from home. And of course, spaying and neutering
                helps cats everywhere by reducing the number of homeless cats in shelters. In general, a “fixed” pet is
                 usually a healthier, happier pet, but your vet can help you decide what is best for your cat.</p>
            <h1>Choose a cat friendly diet</h1>
            <p>Did you know there are some doctors who exclusively see feline patients? It seems to go without saying 
              that cats are not smaller versions of dogs. That said, it follows that cats have different veterinary requirements
               than dogs do. A veterinarian specializing in feline health and behavior can be a valuable ally in keeping your cat
                healthy and happy for a lifetime. You can find a feline vet in your area by visiting the American Association of
                 Feline Practitioners.</p>
            <h1>Schedule regular veterinary visits</h1>
            <p>Even if your cat seems healthy, you should visit the vet at least once a year. Annual visits give the vet a chance
               to catch any potential health issues in their early stages, administer vaccines, and clean your cat's teeth. Your 
               vet can also tell you if your cat is at a healthy weight. And of course, if your cat seems sick or you notice any 
               changes to appetite, litter box use or activity, it's always best to consult your vet.
              </p>
             <p> These tips are just the basics. Keeping our feline friends healthy, safe and happy is a full-time job! 
             But we know it's worth every bit of effort to return the love our cats give us every day. For the care you give, 
             your cat will reward you with a lifetime of companionship and joy.</p>
             <br>
             <p><a href="https://www.petsafe.com/blog/cats-101-basic-health-care-tips-to-keep-your-cat-healthy/">Information from Petsafe</a></p>
            <br>
        </div>
    </div>

    <%- include('../views/partials/footer.ejs') %>

</body>
</html>