<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>How to take care of a dog</title>
    <link rel="stylesheet" type="text/css" href="website_outline.css">
</head>
<body>

  <%- include('../views/partials/header.ejs') %>

    <div class="container">

      <div class="side-menu">
        <nav>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/findpet">Find a dog/cat</a></li>
            <li><a href="/dogcare">Dog Care</a></li>
            <li><a href="/catcare">Cat Care</a></li>
            <li><a href="/createaccount">Create account</a></li>
            <li><a href="/giveawayapet">Giveaway A Pet</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/contactus">Contact Us</a></li>
          </ul>
        </nav>
      </div>

        <div class="content">
            <h1>Meet your dog's basic needs</h1>
            <p>1. Monitor dogs food consumption: Do not give too much food or too little food</p>
            <p>2. Constant access to clean drinking water: All dogs need to have clean and fresh water available at all times of the day.</p>
            <p>3. Regularly groom your dog: Regularly grooming your pet ensures they are clean and pest-free. While some dogs only need a bath every few months, others need regular grooming.</p>
            <h1>Maintain your dog's health with routine care</h1>
            <p>1. Schedule annual check-ups with your vet: One of the best ways to keep your pet healthy is to visit the vet regularly so they can examine your dog for any health concerns.</p>
            <p>2. Look for solutions for flea, tick and heartworm prevention: Fleas and ticks put you and your pet’s health at risk since they can transmit diseases like Lyme disease, plague and Rocky Mountain Spotted Fever.</p>
            <p>3. Maintain proper vaccinations: Vaccinations help protect your dog’s body from invasive diseases. Standard canine vaccines usually include parvovirus, distemper, rabies and canine hepatitis.</p>
            <p>4. Consider spaying or neutering your pet: Spaying and neutering pets isn’t just about population control—it can help protect your canine companion from certain diseases.</p>
            <p>5. Brush your dog’s teeth: While often overlooked, dental care is also essential for maintaining your pet’s health. Regularly brushing your pup’s teeth can help prevent dental illnesses that can end up affecting your dog’s kidney and liver function.</p>
            <h1>Stimulate Your Dog’s Brain and Body</h1>
            <p>1. Exercise your dog every day: Regular exercise promotes bone, joint, muscle and organ health. Walking can also eliminate boredom and provide mental stimulation.</p>
            <p>2. Challenge your dog’s brain: Man’s best friend benefits from mental stimulation. Teach your dog new tricks, play new games and create puzzles.</p>
            <p>3. Create a slow-pace mealtime: Some dogs love gobbling up their food in one gulp. But eating too quickly may create digestive issues or result in vomiting.</p>
            <h1>Keep your pet safe</h1>
            <p>1. Register your pup: City and local pet laws often require dog owners to register their pets. Check your local municipality so you can ensure your dog is properly licensed.</p>
            <p>2. Consider a microchip: If your dog becomes lost, a microchip can help you locate your pet. Microchips are painless to implant and contain your contact information.</p>
            <p>3. Secure trash, chemicals and toxins around your home: Dogs are curious creatures, but sometimes their curiosity can put them at risk of injury or illness—especially when exploring your home. To keep your dog out of harm’s way, secure your trash, toxins and other chemicals found around the house.</p>
            <p>4. Create a safe space for your dog: Dogs can feel anxious or stressed under certain situations, like the sound of thunder or noisy houseguests. Creating a safe space for your pet can provide comfort and security when it needs to retreat.</p>
            <p>5. Clean your dog's stuff: Washing your dog’s toys, blankets and bedding removes germs, dirt, pollen and other things that can irritate your pet. Some dogs suffer from seasonal allergies, so make sure you wash your dog’s bedding on a regular basis.</p>
            <p>6. Keep food out of your dog's reach: Food items such as avocados, chocolate and onions are toxic to dogs. Keeping these items out of their reach can help avoid some serious health consequences.</p>
            <p>7. Use a leash while in public: By always using a leash in public places, you can help your pet avoid accidents and injuries. For example, if your dog spots a squirrel and bolts after it, your dog could be at risk of getting hit by a car.</p>
            <h1>Train and Bond with Your Dog to Strengthen Your Relationship</h1>
            <p>1. Prioritize one-on-one time with your pup: Dogs flourish on love and affection from their owners. Prioritizing daily interactions with your pet strengthens your bond. You can do so by petting, playing and giving your dog treats.</p> 
            <p>2. Practice patience and consistency: Training a dog takes a lot of patience and consistency. Dogs can sense negative energy, so if they feel as though you’re angry or agitated, they may not perform as well. If you’re struggling to train your dog, consult with a professional or ask your vet for guidance. Remember, training your pup won’t happen overnight, so stick with it—the results are worth it</p>
            <p>3. Consider positive reinforcement training: Practicing positive reinforcement training means you reward your pet for good behaviors and ignore the bad. This training method builds your dog’s confidence, encourages cooperation and increases tolerance. On top of that, it can bolster your bond with your canine.</p>
            <h1>Seasonal care tips</h1>
            <p>1. Monitor your pet’s time outside: In the winter, frigid temperatures can cause frostbite on your dog’s ears, paws and tail. In the summer months, heat can dehydrate your pup and cause heat stroke. Make sure you keep an eye on the weather and limit your dog’s time outside in extreme weather.</p>
            <p>2. Pay close attention to your dog’s paws: In the winter months, salt and ice can contribute to cracks in the pads of your pet’s feet. While in the summer months, hot asphalt or concrete can create burns and cause pain. Consider using booties to protect your dog’s paws, or try walking in the grass.</p>
            <p>3. Steer clear of toxic algae: When hiking, walking or simply venturing around your property, a run-in with water containing toxic algae, such as blue-green algae, can make your dog very sick. Check your local Parks and Recreation department, municipality or conservation area to identify bodies of water that could contain harmful bacteria or toxins that may make your dog sick.</p>
            <p>4. Avoid leaving your pet in a hot car: Never leave your dog unsupervised in the car. Even if you think the weather outside is comfortable, temperatures can quickly reach dangerous levels, putting your dog at risk for serious illness or death. You may also be subjected to animal cruelty penalties under municipal, provincial or federal legislation under Canada’s Criminal Code.</p>
            <h1>Plan for unexpected vet bills with Pet insurance</h1>
            <p>Even with the best planning and preventive measures, unexpected accidents and illnesses can still happen, which can result in major vet bills. For example, your dog might tear its cruciate ligament while chasing a ball or it might get sick with a serious illness such as cancer.</p>
            <p>A good way to help offset vet bills is with pet insurance. And it may be more affordable than you think. The average cost of pet insurance for a dog is $76 per month, according to a Forbes Advisor Canada analysis of pet insurance rates. That includes $5,000 of annual coverage, a $100 deductible and 80% reimbursement level.</p>
            <p>If you’re not sure if pet insurance is worth it, here’s a scenario to consider: Your dog tears its ACL and needs surgery. The vet bills are $4,000. If you had pet insurance with a $100 deductible and 80% reimbursement level, your out-of-pocket costs would be $900 ($4,000 – $800 (the 20% you pay) – $100 deductible = $3,100 reimbursed).</p>
            <br>
            <p><a href="https://www.forbes.com/advisor/ca/pet-insurance/dog-care-tips/">Information from Forbes advisor</a></p>
            <br>
        </div>

    </div>

    <%- include('../views/partials/footer.ejs') %>

</body>
</html>