
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giveaway A Pet</title>
    <link rel="stylesheet" type="text/css" href="website_outline.css">
</head>
<body>

  <%- include('../views/partials/header.ejs') %>
    <div class="container">

      <div class="side-menu">
        <nav>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/findpet">Find a dog/cat</a></li>
            <li><a href="/dogcare">Dog Care</a></li>
            <li><a href="/catcare">Cat Care</a></li>
            <li><a href="/createaccount">Create account</a></li>
            <li><a href="/giveawayapet">Giveaway A Pet</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/contactus">Contact Us</a></li>
          </ul>
        </nav>
      </div>

        <div class="content">
            <h1>Giveaway A Pet</h1>
            <form action="/giveawayapet" method="POST">
                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" required><br><br>
                
                <label for="petType">Type of Pet:</label>
                <select id="petType" name="petType" required>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                </select><br><br>
                
                <label for="breed">Breed:</label>
                <input type="text" id="breed" name="breed" required><br><br>
                
                <label for="petName">Pet Name:</label>
                <input type="text" id="petName" name="petName" required><br><br>
                
                <label for="petAge">Age of Pet:</label>
                <input type="number" id="petAge" name="petAge" required><br><br>
                
                <label for="petGender">Gender of Pet:</label>
                <select id="petGender" name="petGender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select><br><br>
                
                <label for="childrenFriendly">Does the Pet Get Along with Children?</label>
                <select id="childrenFriendly" name="childrenFriendly" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br><br>
                
                <label for="catsFriendly">Does the Pet Get Along with Cats?</label>
                <select id="catsFriendly" name="catsFriendly" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br><br>
                
                <label for="dogsFriendly">Does the Pet Get Along with Dogs?</label>
                <select id="dogsFriendly" name="dogsFriendly" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br><br>
                
                <label for="description">Description of the Pet:</label><br>
                <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
                
                <button type="submit">Submit</button>
            </form>
            <br>
            <br>
            <br>
            </div>

    </div>

    <%- include('../views/partials/footer.ejs') %>

</body>
</html>