<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="website_outline.css">
    <script src="Project_java.js"></script>
</head>
<body>
  <%- include('../views/partials/header.ejs') %>


    <div class="container">

        <div class="side-menu">
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/findpet">Find a dog/cat</a></li>
                    <li><a href="/dogcare">Dog Care</a></li>
                    <li><a href="/catcare">Cat Care</a></li>
                    <li><a href="/createaccount">Create account</a></li>
                    <li><a href="/giveawayapet">Giveaway A Pet</a></li>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                  </ul>
            </nav>
          </div>

        <div class="content">
            <h1 class="center">Welcome to Robert's Pet Adoption Center</h1>
            <p>This website is dedicated to helping you adopt the perfect dog and/or cat.
                Here at Robert's pet adoption center, we believe that all pets deserve a loving home.</p>
            <img src="home_img.png" alt="logo" class="img" style="border: 5px solid #555">
            <p>Our goal is to find loving homes for all our pets. Upon requesting a pet, a background check will be completed to ensure you
                can care for the pet. 
            </p>
            <p>On this website you can view our avalaible pets, find a dog or cat that matches your needs, learn about how to care for a cat and dog, fill out a form to give away your pet and find our contact information</p>
            <br><br>

            <p><a href="https://creazilla.com/nodes/11072-dog-and-cat-clipart">Logo source</a></p>
            <p><a href="https://northpointerentals.com/amenities/banner-pets-dog-cat-boarding-1000x451/">Image source</a></p>
            <br><br>
        </div>

    </div>

    <%- include('../views/partials/footer.ejs') %>

</body>
</html>