<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="website_outline.css">
</head>
<body>
  <%- include('../views/partials/header.ejs') %>

  <div class="container">

      <div class="side-menu">
          <nav>
              <ul>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/findpet">Find a dog/cat</a></li>
                  <li><a href="/dogcare">Dog Care</a></li>
                  <li><a href="/catcare">Cat Care</a></li>
                  <li><a href="/createaccount">Create account</a></li>
                  <li><a href="/giveawayapet">Giveaway A Pet</a></li>
                  <li><a href="/login">Log in</a></li>
                  <li><a href="/logout">Log Out</a></li>
                  <li><a href="/contactus">Contact Us</a></li>
                </ul>
          </nav>
        </div>

    <div class="container">
        <div class="content">
            <% if(loggedIn) { %>
                <h1>Logout</h1>
                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
            <% } else { %>
                <p>You have been logged out</p>
            <% } %>
        </div>
    </div>
    <%- include('../views/partials/footer.ejs') %>

</body>
</html>